*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f5f5f5;
}
.html{
  display: none;
}
h1, h2, p{
	width: 100%;
	height: auto;
	display: inline-block;
}
h1{
	margin-top: 40px;
	color: #22d6bb;
	font-size: 2em;
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
}
h2{
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
}
p{
	margin-top: 20px;
	text-align: center;
	font-size: 1em;
	font-weight: 600;
	color: #000;
}
.container {
	width: 1140px;
	max-width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.form{
	width: 100%;
	height: auto;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 50px;	
}
input[type="text"]{
	width: 90%;
	height: 50px;
	float: left;
	padding: 10px;
	border: 1px solid #e4e1e1;
	border-radius: 0;
	border-right: 0;
	color: #000;
	font-size: 1em;
	outline: 1px solid transparent;
}
button{
	width: 10%;
	height: 50px;
	float: left;
	border-radius: 0;
	border: 0px;
	background-color: #3c4556;
	color: #FFF;
	font-size: 1em;
	cursor: pointer;
	outline: 1px solid transparent;
}
.view-color{
	width: 40%;
	height: auto;
	float: left;
	opacity: 0;
	transition: opacity 500ms ease-in;
}
.view-color ul{
	width: 100%;
	height: auto;
	display: inline-block;
	list-style: none;
}
.view-color li{
	width: 50%;
	height: 30px;
	float: left;
	margin-top: 10px;
}
.view-color span{
	height: 30px;
	float: left;
	margin-left: 15px;
	line-height: 30px;
	color: #000;
	font-size: .9em;
}
.markdown-body {
	box-sizing: border-box;
	width: 60%;
	float: right;
	padding: 45px;	
	background-color: #282a36;
	color: #f6b168;
	opacity: 0;
	transition: opacity 500ms ease-in;	
}
.color-thumb{
	width: 30px;
	height: 30px;
	float: left;
	background-size: cover;
}
.error{
	display: none;
	width: 100%;
	height: auto;
	float: left;
	margin-top: 10px;
	color: red;
	font-size: .8em;
}
.url-exemplo{
	width: 100%;
	height: auto;
	text-align: center;
}
small{
	width: auto;
	display: inline-block;
}
.btn-clipboard{
	width: 30px;
	height: 36px;
	border: 0;
	float: right;
	text-indent: -9999px;
	background-image: url(../images/copy.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	top: -13px;
	margin-left: 5px;
	outline: 1px solid transparent;
}
.btn-clipboard:before{
	content: "Copiado";
	position: absolute;
	bottom: -17px;
	left: -13px;
	font-size: 1em;
	color: #22d6bb;
	font-weight: bold;
	opacity: 0;
	width: auto;
	text-indent: 0;	
}
.btn-clipboard.active:before{
	transition: opacity 500ms ease-in;
	opacity: 1;
}
@media screen and (max-width: 1000px){
	input[type="text"]{
		width: 80%;
	}
	button{
		width: 20%;
	}
	.container{
		width: 92%;
		padding: 0 4%;
	}
	.markdown-body{
		padding: 25px;
	}
}
@media screen and (max-width: 600px){
	h1{
		font-size: 1.5em;
		 margin-top: 20px;
	}
	p {
		margin-top: 10px;
		font-size: .8em;
	}
	small{
		font-size: 1em;
	}
	input[type="text"]{
		width: 70%;
	}
	button{
		width: 30%;
	}
	.view-color{
		width: 100%;
	}
	.cssFinish{
		width: 100%;
	}
	.form{
		margin-bottom: 20px;
	}
	.view-color{
		margin-bottom: 20px;
	}
}